/* AudioPlayer.css */
.anthem_section h3 {
  padding: 10px;
  margin: 0;
  background-color: #ececec;
  color: rgb(37, 37, 37);
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.audio-player {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}
