/* TeacherProfile.css */

.tp_teacher-profile {
  text-align: center;
}
.tp_teacher-profile h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #e6e4e4;
  padding: 10px;
}
.tp_teacher-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(218, 218, 218);
  padding: 5px;
}

.tp_teacher-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  align-items: flex-start;
  border: 1px solid rgb(196, 196, 196);
}

.tp_teacher-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: flex-start;
}

.tp_teacher-info {
  text-align: left;
}

.tp_teacher-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  margin: 5px;
  color: #5d5d5d;
}

.tp_teacher-designation {
  font-size: 15px;
  margin-bottom: 20px;
  margin: 5px;
}

.dept_teacher {
  font-size: 13px;
  margin: 0;
  margin-left: 5px;
}

.tp_teacher-info table {
  width: 100%;
  border-collapse: collapse;
}

.tp_teacher-table td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 13px;
}

/* Add more styles as needed for other teacher details */

/* Media query for responsiveness */
@media (max-width: 768px) {
  .tp_teacher-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .tp_teacher-image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin-right: 0px;
  }

  .tp_teacher-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: flex-start;
  }

  .tp_teacher-info {
    text-align: left;
    padding: 5px;
  }

  .tp_teacher-name {
    font-size: 15px;
  }

  .tp_teacher-designation {
    font-size: 13px;
  }
  .dept_teacher {
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
  }
}
