/* Footer container */
.footer {
  background-color: #4e4e4e; /* Dark gray background color */
  color: #fff; /* White text color */
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-links {
  margin-bottom: 15px;
}

/* Footer links */
.footer-links a {
  color: #fff; /* White link color */
  text-decoration: none;
  margin: 0 15px;
}

/* Footer links on hover */
.footer-links a:hover {
  text-decoration: underline;
}

/* Footer icons */
.footer-icons a {
  color: #fff; /* White icon color */
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
}

/* Footer horizontal line */
.footer-line {
  width: 90%;
  border: 1px solid #787878; /* Dark gray border color */
  margin: 20px 0;
}

/* Footer content */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Copyright section */
.copyright {
  font-size: 14px;
  margin-top: 0px;
}

/* "Developed by" text */
.developed-by {
  font-size: 14px;
  margin-top: 0px;
  color: #888; /* Optional: You can adjust the color as needed */
}

/* Copyright section */

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }
  .footer-links a,
  .footer-icons a {
    margin: 5px;
  }
  .footer-line {
    margin: 15px 0;
  }
}
