/* App.css */
.app {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  background-color: rgb(227, 245, 255);
}

.back {
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex: 1;
  gap: 30px;
}

.side-container {
  flex: 1;
  background-color: rgb(255, 255, 255);
  width: 30%; /* Fixed width for the side container */
}

.main-container {
  flex: 3; /* Takes up 70% of the available space */
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
  .app {
    padding: 0 8px; /* Reduce the overall padding */
    background-color: rgb(255, 255, 255);
  }

  .back {
    padding: 0px;
    background-color: rgb(255, 255, 255);
  }

  .container {
    margin: 0 auto;
    width: 100%;
    flex-direction: column; /* Change to column layout */
  }

  .side-container {
    width: 100%; /* Full width for side container on smaller screens */
    margin-bottom: 20px; /* Add some spacing between side and main container */
    margin: 0 auto;
  }

  .main-container {
    width: 100%; /* Full width for side container on smaller screens */
    margin-bottom: 20px;
  }
}
